<template>
  <section class="content dashboard">

    <!--<div class="callout callout-info">-->
      <!--<h4>Tip!</h4>-->

      <!--<p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a-->
        <!--sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular-->
        <!--links instead.</p>-->
    <!--</div>-->

    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-check"></i> appy is open source!</h4>
      Click on the icon to check it out on GitHub
      <a href="https://github.com/JKHeadley/appy" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      and please leave a
      <a href="https://github.com/JKHeadley/appy" target="_blank"><i class="fa fa-star fa-2x"></i></a>!
    </div>

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-lg-8">
        <!-- USERS LIST -->
        <box :classes="['box-danger']" :canCollapse="true" :canClose="true"
             :disableFooter="false" :headerBorder="true" :noPadding="true">
          <div slot="header">
            <h3 class="box-title">Latest Members</h3>
          </div>
          <!-- /box-header -->

          <span slot="box-tools">
          <!--<span class="label label-danger">8 New Members</span>-->
        </span>
          <!-- /box-tools -->

          <div slot="body">
            <ul class="users-list clearfix">
              <li v-for="user in newMembers">
                <img :src="user.profileImageUrl" alt="User Image">

                <router-link :to="'/members/' + user._id">
                  <a class="users-list-name" href="#">{{ getName(user) }}</a>
                </router-link>

                <span class="users-list-date">{{user.createdAt |  moment("D MMM")}}</span>
              </li>
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /box-body -->

          <div slot="footer" class="text-center">
            <router-link tag="a" class="pageLink uppercase" to="/members" v-permission.enable="['user', 'readUser']">
              View All Members
            </router-link>
          </div>
          <!-- /box-footer -->

          <div v-if="newMembersLoading" class="overlay">
            <i class="fa"><pulse-loader></pulse-loader></i>
          </div>
          <!-- /.overlay -->
        </box>
        <!-- /USERS LIST -->

      </div>
      <!-- /.col -->

      <!-- Right col -->
      <div class="col-lg-4">
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

    <div class="row">


      <div class="col-lg-4 col-xs-6">
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->


    <div class="row">

      <div class="col-lg-12" v-tooltip="'Coming Soon!'">
        <!-- ACTIVITY FEED -->
        <box :classes="['box-primary']" :canCollapse="true" :canClose="true"
             :disableFooter="true" :headerBorder="true" :noPadding="false">
          <div slot="header">
            <h3 class="box-title">Activity Feed</h3>
          </div>
          <!-- /box-header -->

          <span slot="box-tools">
          <span class="label label-danger">Coming Soon!</span>
        </span>
          <!-- /box-tools -->

          <div slot="body">

            <!-- The time line -->
            <ul class="timeline">
              <!-- timeline time label -->
              <li class="time-label">
                  <span class="bg-red">
                    10 Feb. 2014
                  </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-envelope bg-blue"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                  <div class="timeline-body">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                    quora plaxo ideeli hulu weebly balihoo...
                  </div>
                  <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">Read more</a>
                    <a class="btn btn-danger btn-xs">Delete</a>
                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-user bg-aqua"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-comments bg-yellow"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                  <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                  <div class="timeline-body">
                    Take me to your leader!
                    Switzerland is small and neutral!
                    We are more like Germany, ambitious and misunderstood!
                  </div>
                  <div class="timeline-footer">
                    <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline time label -->
              <li class="time-label">
                  <span class="bg-green">
                    3 Jan. 2014
                  </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-camera bg-purple"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                  <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                  <div class="timeline-body">
                    <img src="https://placehold.it/150x100" alt="..." class="margin">
                    <img src="https://placehold.it/150x100" alt="..." class="margin">
                    <img src="https://placehold.it/150x100" alt="..." class="margin">
                    <img src="https://placehold.it/150x100" alt="..." class="margin">
                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-video-camera bg-maroon"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>

                  <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                  <div class="timeline-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tMWkeBIohBs"
                              frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="timeline-footer">
                    <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
            <!-- /.timeline -->
          </div>
          <!-- /box-body -->

          <div slot="footer" class="text-center">
          </div>
          <!-- /box-footer -->

          <div v-if="false" class="overlay">
            <i class="fa"><pulse-loader></pulse-loader></i>
          </div>
          <!--/.overlay -->
        </box>
        <!-- /ACTIVITY FEED -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </section>
</template>

<script>
  import faker from 'faker'

  export default {
    name: 'Dashboard',
    components: {
    },
    data () {
      return {
        newMembers: {},
        client: null,
        stats: {},
        statsLoading: true
      }
    },
    computed: {
    },
    methods: {
      avatar () { return faker.image.avatar() },
      getName (user) {
        if (user._id === this.$store.state.auth.user._id) {
          return 'You'
        } else {
          return user.firstName + ' ' + user.lastName
        }
      },
      getNewMembers () {
        this.newMembersLoading = true
        this.$userRepository.list({ $sort: ['-createdAt'], $limit: 8 })
          .then(result => {
            this.newMembersLoading = false
            this.newMembers = result.data.docs
          })
          .catch((error) => {
            this.newMembersLoading = false
            console.error('Dashboard.getNewMembers-error:', error)
            this.$snotify.error('Get new members failed', 'Error!')
          })
      },
    },
    created () {
      this.getNewMembers()
    },
    mounted () {
//      $('.sparkbar').each(function () {
//        var $this = $(this)
//        $this.sparkline('html', {
//          type    : 'bar',
//          height  : $this.data('height') ? $this.data('height') : '30',
//          barColor: $this.data('color')
//        })
//      })
    }
  }
</script>

<style lang="scss">
  .dashboard {
    .users-list {
      & > li img {
        height: 128px;
      }
    }
    .info-box {
      cursor: pointer;
    }
    .info-box-content {
      text-align: center;
      vertical-align: middle;
      display: inherit;
    }
    .fullCanvas {
      width: 100%;
    }
    .pad canvas {
      border: 0px;
    }

    .chart-responsive {
      canvas {
        border: 0px;
      }
      padding-bottom: 10px;
    }

    .small-box.visitor-box {
      height: 375px;
      margin-bottom: 0px;
      .inner {
        padding-top: 100px;
      }
      .icon {
        position: static;
      }
    }
  }
</style>
